/* VÅR EGEN CSS FIL. */
#test {
	color:green;
}
#delta {
	margin-top:10%;
	width:60%;
}
#calendar {
	max-width: 900px;
	margin: 0 auto;
}
p.aktivitet-link {
	text-decoration: overline;
    padding-left: 10px;
    padding-top:10px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

