/* VÅR EGEN CSS FIL. */
#test {
	color: green;
}

#delta {
	margin-top: 10%;
	width: 60%;
}

#calendar {
	max-width: 900px;
	margin: 0 auto;
}

p.aktivitet-link {
	text-decoration: underline;
	padding-left: 10px;
	padding-top: 10px;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
	{
	-webkit-appearance: none;
	margin: 0;
}

body>div.ui.equal.width.grid>form {
	margin: 0 auto;
}

body>div>div>div>form>a>abbr>i {
	-webkit-transition-property: transform; /* Safari */
	-webkit-transition-duration: 1s; /* Safari */
	transition-property: transform;
	transition-duration: 1s;
}

body>div>div>div>form>a>abbr>i:hover {
	transform: scale(1.5);
}